#navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
    /* border: 1px solid black; */
    background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
}

#header{
    height: 100px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start; */
}

#header>div{
    height: 100px;
    width: 300px;
    /* border: 1px solid seagreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header>div>img{
    width: 100%;
    height: 100%;
}
#header>div>input{
    width: 480px;
    height: 70px;
    background-color: #454469;
    color: white;
    font-size: large;
}

#header>div>button{
    background-color:#6432f9;
    color: white;
    height: 30px;
    width: 80px;
    border: transparent;
    cursor: grab;
}

#explore{
    height: 200px;
    width: 90%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#explore>div{
    height: 195px;
    width: 9%;
    /* border: 1px solid black; */
}

#explore>div>img{
    width: 100%;
    height: 100%;
}

#container{
    height: 900px;
    border: 1px solid black;
    background-color: #2e3035;

}

#box{
    display: grid;
    grid-template-columns: repeat(6,15%);
    grid-template-rows: repeat(6,200px);
    gap: 15px;
    justify-content: center;
    background-color: #2e3035;
    /* width: 90%; */
}

/* #box>div{
    border: 1px solid red;
} */

#box>div>img{
    width: 100%;
    height: 100%;
}